.banner{
    color: white;
    object-fit: contain;
    height: 70vh;
}
.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner_title{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_description{
    width: 45rem;
    margin-top: 20px;
    font-size: 19px;
    max-width: 360px;
}
.banner_button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: .5rem;
    background-color: rgba(51,51,51,.5);
    padding-bottom: .5rem;
    padding-top: .5rem;
}
.banner_button:hover{
    color: #000;
    background: #fff;
    transition: all .3s;
}

@media all and (max-width : 640px){
    .avatar_logo{
        right: 45px;
    }
    .banner_description{
        width: 20rem;
        font-size: 15px;
    }
    .banner_title{
        font-size: 45px;
    }
}